/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body
    {
      background-color: silver;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body
    {
      background-color: silver;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body
    {
      background-color: silver;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body
    {
      background-color: silver;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body
    {
      background-color: silver;
    }
}

header {
  height: 25px;
}
#nav-bar {
  background-color: rgb(10,10,10);
  opacity: 0.9;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
}
.nav-link {
  color: white;
  display: inline;
}
#nav-wrapper {
  margin-left: 60%;
  margin-top: 10px;
}

#header-img {
  width: 50%;
  height: 25px;
  border-radius: 100%;
  display: block;
  margin: 1.3em auto;
  max-width: 5%;
  max-height: 25px;
  transform: translate(-440px,-40px);
}
#form{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}
#email {
  padding: 5px;
}
#video{
  margin-top: 50px;
}
#howItWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#tenor{
  border:1px solid black;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px ;
}

#bass{
  border:1px solid black;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px ;
}

#valve{
  border:1px solid black;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px ;
}

#footer{
  width: 100%;
  height:200px;
  margin-top: 30px;
  border:1px solid black;
background-color: rgb(10,10,10);
}
#bye{
  color: white;
  font-weight: bolder;
  margin-top: 100px;
}
#show{
  width: 100%;
  height: 500px;
  display: block;
  margin-top: 30px;
   box-shadow: 1px 1px 1px 1px silver;
}